# backend/requirements.txt
fastapi==0.68.1
uvicorn==0.15.0
python-multipart==0.0.5
numpy==1.21.2
Pillow>=10.0.0
torch==2.2.0
transformers==4.37.2
huggingface-hub==0.20.3
python-jose==3.3.0
python-dotenv==0.19.0
SpeechRecognition==3.10.0
pydub==0.25.1
paddleocr==2.7.0
easyocr==1.7.1
groq==0.18.0
pocketsphinx==5.0.2